<div class="container1">

    <div class="bienvenida">


        <span> Bienvenidos al Portal de alumnos de la UTN</span>

        <div class="imgindex">
            <img src="/img/index.jpeg" alt="utn">
        </div>


    </div>


</div>