<div class="contaeiner-fluid">

    <div class="bienvenida">
        <span> Bienvenidos al Portal de alumnos de la UTN</span>
    </div>

    <div class="">
        <img src="/img/index.jpeg" alt="utn" class="imgindex container-fluid">
    </div>


</div>