
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Módulo 1 :: PHP
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ol> Unidad 1 :: Nivelación PHP y MySQL </ol>
        <ol> Unidad 2 :: PHP orientado a objetos </ol>
        <ol> Unidad 3 :: Codeigniter 3 </ol>
        <ol> Unidad 4 :: Codeigniter 3 </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Módulo 2 :: Javascript
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ol> Unidad 1 :: Introducción a Javascript </ol>
        <ol> Unidad 2 :: Manejo del DOM con Javascript </ol>
        <ol> Unidad 3 :: Javascript ES 6 </ol>
        <ol> Unidad 4 :: Ajax </ol></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Módulo 3 ::React JS
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ol> Unidad 1 :: Introducción a React JS </ol>
        <ol> Unidad 2 :: Componentes, propiedades y ciclos de vida </ol>
        <ol> Unidad 3 :: Routing en React JS </ol>
        <ol> Unidad 4 :: React JS, Hooks </ol>
      </div>
    </div>
  </div>
</div>