*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
}

footer {
background-color: rgb(207, 223, 241);
display: flex;
justify-content: center;
margin-top: auto;
}

.formulario{
font-family: 'Times New Roman', Times, serif;
background-color: rgba(255, 255, 255, 0.836);
align-items: center;
justify-content: center;
display: center;
}

.container1{
    margin: auto;
    width: 960px;
    height: 900px;
    border: 1cm;
}


.bienvenida{
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.imgindex{
display: flex;
justify-content: center;
}





